root {
    background-color: white;
    height: 100%; /* Ensure the root div takes full height */
}

html, body {
    height: 100%; /* Ensure the body takes up full height */
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    transition: background-color 0.5s ease, color 0.2s ease;
  }

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }

a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

img {cursor: pointer} 

input {
    height: 15px;
    padding: 5px;
    background-color: white;
    text-decoration: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    border-radius: 4px;
}

input:focus {
    outline: none; /* Removes the outline on focus */
    border: none; /* Optional: remove the border if you want */
}

button {
    text-decoration: none;
    border: none;
    background-color: rgb(44, 122, 240);
    border-radius: 4px;
    width: 75px;
    padding: 5px;
    color: white;
}

form {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%; /* Ensure it takes full width */
}

.user_zone {
    display: flex; /* Makes it a flex container */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    height: 100vh; /* Optional: full viewport height */
}

.login_label {
    font-style: normal;
    font-weight: 500;
}

.login_indent {
    width: 400px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login_action, .register_action {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: height 0.2s ease;
} .register_action {
    height: 125px;
}

.login_container {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    background-color: #F0F0F0;
    border-radius: 10px;
    width: 450px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
}