* {
    margin: 0;  
    padding: 0;
    /* box-sizing: border-box; */
  }

html, body {
    height: 100%; /* Ensure the body takes up full height */
    background-color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  }

a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

img {cursor: pointer} 

input {
    height: 15px;
    padding: 5px;
    background-color: white;
    text-decoration: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    border-radius: 4px;
}

input:focus {
    outline: none; /* Removes the outline on focus */
    border: none; /* Optional: remove the border if you want */
}

button {
    text-decoration: none;
    border: none;
    background-color: rgb(44, 122, 240);
    border-radius: 4px;
    width: 75px;
    padding: 5px;
    color: white;
}

form {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%; /* Ensure it takes full width */
}

.user_zone {
    height: 100vh;
}

.important_labels {
    font-weight: 550;
}

.login_spacing {
    width: 400px;
    height: 200px;
}

.login_action, .register_action {
    width: 200px;
    height: 100px;
}

.register_action {
    height: 125px;
}

.login_container {
    width: 450px;
    height: 300px;
    background-color: #F0F0F0;
    border-radius: 10px;
}

.center_common {
    display: flex;
    align-items: center;
    text-align: center;
}

.center_items {
    justify-content: center;
}

.column_direction {
    flex-direction: column;
}

.spacing_between {
    justify-content: space-between;
}