* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.first_floor {
    width: 100vw;
    height: 860px;
}

.flex_dir_column {
    flex-direction: column;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.span_styles {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 90px;
}

.first_span_size {
    width: 90vw;
    height: 80px;
}

.second_span_size {
    width: 75vw;
    height: 80px;
}

.third_span_size {
    width: 65vw;
    height: 80px;
}

.fourth_span_size {
    width: 55vw;
    height: 80px;
}

.fifth_span_size {
    width: 28vw;
    height: 150px;
}

.fifth_span__bigger_size {
    font-size: 150px;
}

.center_items {
    display: flex;
    text-align: center;
    align-items: center;
}

.justify_center {
    display: flex;
    justify-content: center;
}

.display_block {
    display: block;
}

.position_absolute {
    position: absolute;
}

.half_black {
    background: linear-gradient(to right, black 50%, white 50%);
}

.white_text {
    color: white;
}

.additional_padding {
    padding: 20px;
}

.second_floor {
    width: 100vw;
    height: 800px;
}

.heading_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
}

.categories {
    padding: 30px;
    height: fit-content;
    width: 75vw;
    max-width: 55vw;
    flex-wrap: wrap;
    padding: 15px;
}

.anti_broke {
    max-height: 100%;
    max-width: 100%;
}

.image_container {
    width: 426px;;
    height: 267px;
    display: inline-block;
    position: relative;
    padding: 20px;
}

.image_container img {
    width: 426px;
    height: 267px;
}

.common_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.picture_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    position: absolute;
    bottom: 45%; /* You can adjust this to fit where you want the text */
    left: 50%;
    transform: translateX(-50%);
    color: white; /* Text color */
    font-size: 20px; /* Adjust font size */
    text-align: center;
    box-sizing: border-box; /* Ensures padding is included in the width */
    word-wrap: break-word; /* Wraps text if it gets too long */
}

.space_between {
    justify-content: space-between;
}

.color_black {
    color: black;
}

.coming_soon {
    bottom: 42%;
}