root {
    background-color: white;
}

header {
    width: 99vw;
    height: 50px;
    background-color: white;
    position: relative;
    display: flex;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

input {
    height: 15px;
    padding: 5px;
    background-color: white;
    text-decoration: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 350;
    border-radius: 4px;
}

input:focus {
    outline: none; /* Removes the outline on focus */
    border: none; /* Optional: remove the border if you want */
}

button {
    text-decoration: none;
    border: none;
    background-color: white;
    border-radius: 4px;
    width: 75px;
    padding: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

form {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%; /* Ensure it takes full width */
}

.login-page {
    user-select: none; /* For most modern browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

.half-black-header {
    background-color: black;
    width: 50vw;
    height: 50px;
    display: block;
}

h1 {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.dark-mode-switcher {
    width: 30px;
    height: 30px;
}

.user-icon {
    width: 30px;
    height: 30px;
}

.user-tools-bar {
    width: 67px;
    height: 50px;
    justify-content: space-between; /* This works for items inside the user-tools-bar */
    align-items: center;
    display: flex;
    margin-right: 10px;
}

.brend-name-first-label {
    color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50px;
}

.brend-name-second-label {
    color: black;
    display: flex;
    align-items: center;
}

.brend-tools-container {
    max-width: 50vw;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.user-zone {
    display: flex; /* Makes it a flex container */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    height: 100vh; /* Optional: full viewport height */
}

.login-container {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    background-color: #F0F0F0;
    border-radius: 10px;
    width: 450px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.login-label {
    font-style: normal;
    font-weight: 500;
}

.login-indent {
    width: 400px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.new-user-container {
    display: flex;
}


.login-action {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.register-action {
    width: 200px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-action {
    transition: height 0.2s ease;
}

.register-action {
    transition: height 0.2s ease;
}